.activo {/*se muestra cuando el boton desplegable esta desplegado*/
  color: green !important;
  float: right !important;
  margin: 5px 0px !important;
}

body {
    background-color: #F5FFF0 !important;
}

.nav-link:link {/*enlace sin visitar*/
	color: green !important;
}
.nav-link:visited {/*enlace visitado*/
	color: lime !important;
}
.nav-link:active {/*enlace clickado*/
	color: forestgreen !important;
}

.jumbotron {
	background-color: green !important;
	color: white !important;
}

.card-title {
	background-color: forestgreen !important;

}

#palabra-clave {
	width: 448px !important;
}